{% extends "base.html" %}
{% block title %}{{current_user.username}} - Technopedia{% endblock %}
{% block content %}
<div class="jumbotron">
  <div align='center'>
    <h1 >Welcome to the page for {{current_user.username}}</h1>
    <img align='center' src="{{ url_for('static', filename='profile_pics/' + current_user.profile_image) }}">
    <p>{{ current_user.email }}</p>
  </div>
</div>
<div class="container">
  <form  method="POST" action = "" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class="form-group">
      {{ form.username.label(class="form-control-label") }}
      {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.email.label(class="form-control-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
      {{ form.picture.label(class="form-control-label") }}<br>
      {{ form.picture(class="form-control btn") }}
    </div>
    <div class="form-group">
        {{ form.submit(class="form-control btn btn-primary col-4") }}
    </div>
  </form>
</div>

{% endblock content %}
